<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktikum projekt von Teddy</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Tinder Aber News</h1>
    <div id="container">
        <div class="container-news">
            <h1>Datum : {{ data.Headline }}</h1>
            <p>Datum : {{ data.Datum }}</p>
        </div>
        <div class="box">
            <div class="y">Yes</div>
            <div class="n">No</div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>
