h1{
    text-align: center;
}
.container-news{
    background-color:lightblue;
    width: 300px;
    height: 500px;
    margin: 0 auto;
}
.box{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    
}
.box .y{
    background-color: green;
    margin: 40px;
    padding: 20px;
    color:antiquewhite;
}
.box .n{
    background-color: red;
    margin: 40px;
    padding: 20px;
    color:antiquewhite;
}